:root {
    --main-bg-color: #3b3b3b;
    --main-color: #F9F6EE;
    --light-blue: #7DF9FF;
    --medium-blue: #6495ED;
    --dark-blue: #0047AB;
    --lighter-grey: #525252;
}


body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

body h1, h2 {
    color: var(--light-blue);
}

footer {
    padding: 20px;
    background-color: var(--lighter-grey);
    margin-top: 100px;
}

.light-blue {
    color: var(--light-blue);
}

.light-blue-btn {
    background-color: var(--light-blue);
}

#login-btn {
    float: right;
}

.blue {
    color: var(--medium-blue);
}

.dark-blue {
    color: var(--dark-blue);
}

.logo {
    width: 50px;
    height: 50px;
}

.product-img {
    width: 250px;
    height: 250px;
}

.bootstrap-icons {
    width: 40px;
    height: 40px;
}

hr {
    border-top: solid 2px darkgray;
}

.product-div {
    padding: 25px;
    margin: 25px;
    color: var(--main-color);
    background-color: var(--lighter-grey);
    width: 300px;
    overflow-wrap: break-word;
}

.product-div-link, .product-div-link:hover, .product-div-link:focus, .product-div-link:active {
    text-decoration: none;
}

.bottom {
    float: bottom;
}

/* From w3schools https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.product-title {
    font-size: 30px;
    overflow-wrap: break-word;
}

.product-price {
    font-size: 20px;
}

form input {
    margin-right: 25px;
    border: 2px solid var(--dark-blue);
    border-radius: 2px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

form label {
    display: inline-block;
}

#main-menu {
    padding: 20px;
}

#plzlabel {
    margin-right: 40px;
    width: 100px;
}

#lnamelabel {
    width: 200px;
    margin-right: 15px;
}

#passwordlabel {
    width: 200px;
    margin-right: 15px;
}

#login-btn {
    margin-top: 25px;
    margin-right: 25px;
}

.photo {
    width: 694px;
    height: 433px;
    margin-top: 50px;
    margin-left: -150px;
}

.description {
    color: var(--main-color);
    margin-left: -150px;
    margin-top: 30px;
}

.info {
    padding-left: 15px;
}

h3 {
    color: var(--main-color);
    margin-top: 20px;
}

h5 {
    color: var(--main-color);
    margin-top: 30px;
}

h2 {
    color: var(--light-blue);
    margin-top: 50px;
}

.cart li {
    list-style-type: none;
    border-bottom: 1px solid var(--medium-blue);
}

.cart-side li {
    list-style-type: none;
    border-bottom: 1px solid var(--medium-blue);
}

.buy-btn {
    background-color: var(--light-blue);
    height: 45px;
    width: 400px;
    margin-top: 234px
}

.input {
    width: 700px;
}

.cmt-add {
    background-color: var(--light-blue);
    height: 45px;
    width: 400px;
}

.comment-section {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1130px;
    height: 40px;
    display: block;
    color: #FFFFFF;
    line-height: 40px;
    font-weight: 600;
    background-color: #242424;
    text-align: center;
}

.tool-bar {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    display: block;
    width: 1130px;
    height: 30px;
    line-height: 30px;
    background-color: #242424;
}

.tool-bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

.tool-bar ul li {
    display: inline-block;
    margin: 0;
    padding: 0px 6px;
    text-decoration: none;
    color: #FFFFFF;
}

.textarea {
    position: relative;
    top: 70px;
    resize: none;
    width: 1130px;
    height: 100px;
    background-color: var(--dark-blue);
    border: none;
    color: #FFFFFF;
    margin-left: -15px;
    margin-bottom: 90px;
    outline: none;
}

.send-comment {
    margin-left: -15px;
    color: #FFFFFF;
    background-color: #242424
}

.left {
    text-align: end;
}

.float-right {
    float: right;
}

/* tooltip */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}